.hide {
    display: none;
}

.show-block {
    display: block;
}

.show-inline-block {
    display: inline-block;
}

.show-table-row {
    display: table-row;
}

.show-inline-table {
    display: inline-table;
}

.rotate-full {
    transform: rotate(180deg);
}

.set-overflow-hidden {
    overflow: hidden;
}