//Colors

$main-orange: #F05A28;
$main-yellow: #F7B74F;
$light-blue: #87C5EC;
$myrtle-green: #2F797A;
$dark-cyan: #318C8C;
$light-green: #7CC9C2;
$main-black: #2E2D2C;
$secoundary-black: #3C3C3B;
$main-gray: #575756;
$main-white: #F7F7F7;
$bkg-color: #f4f5f9;
$button-hover-orange: #C54B1B;
$button-hover-blue: #4A79BC;
$dot-color: #D9D9D9;
$secoundary-gray: #A8A8A7;

//font-sizes

$font-14: 14px;
$font-16: 16px;
$font-18: 18px;

//margin

$margin-20: 20px;
$margin-24: 24px;

//padding

$padding-20: 20px;
$padding-24: 24px;

//width

$main-resolution: 1228px;